- if user_signed_in?
  - if @product.like_user(current_user.id)
    = button_to product_like_path(product_id: @product.id, id: @product.likes.ids), method: :delete, id: "like-buttons", remote: true do
      = image_tag "redheart.png"
      %span
        = @product.likes_count
  - else
    = button_to product_likes_path(@product.id), method: :post, id: "like-buttons", remote: true do
      = image_tag "whiteheart.png"
      %span
        = @product.likes_count
- else
  = image_tag "whiteheart.png"
  %span
  = @product.like_count
