%footer.signup__footer
  .signup__footer__nav
    %ul.signup__footer__nav__links
      %li
        = link_to("プライバシーポリシー",
          root_path,
          class: "signup__footer__nav__link")
      %li
        = link_to("メルカリ利用規約",
          root_path,
          class: "signup__footer__nav__link")
      %li
        = link_to("特定商取引に関する表記",
          root_path,
          class: "signup__footer__nav__link")
    = link_to root_path do
      = image_tag 'mercari_logo_vertical.png',
        class: 'signup__footer__nav__logo'
    %p.signup__footer__nav__text
      © 2019 Mercari