.registration-container
  %header.registration-header
    %h1
      %a(href="/" class="registration-header__logo")
        = image_tag 'mercari_logo_horizontal', class: 'registration-header__logo__img'
    %nav.registration-header__progress-bar
      %ol
        %li
          会員情報
          .progress__status.progress__status--active
          .progress__bar.progress__bar--after.progress__bar--active
        %li.registration-header--active
          電話番号認証
          .progress__bar.progress__bar--before.progress__bar--active
          .progress__status.progress__status--active
          .progress__bar.progress__bar--after
        %li
          お届け先住所入力
          .progress__bar.progress__bar--before
          .progress__status
          .progress__bar.progress__bar--after
        %li
          支払い方法
          .progress__bar.progress__bar--before
          .progress__status
          .progress__bar.progress__bar--after
        %li
          完了
          .progress__bar.progress__bar--before
          .progress__status
  %main.registration-main
    .registration-main__container
      %h2.registration-main__text 電話番号の確認
      =form_for :user, html: { class: "registration__form" } do |f|
        .registration__form__content
          .registration__form__group
            = f.label :phone_number, "携帯電話の番号"
            = f.phone_field :phone_number, class: "registration__form__input", placeholder: "携帯電話の番号を入力"
          %p.registration__form__text
            本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
          = f.submit class: "signup__form__btn signup__form__btn--mail registration__form__next-btn", value: "SMSを送信する"
          %p.registration__form__text
            ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
          .registration__form__about-text
            %a(href="/") 電話番号の確認が必要な理由＞
  = render partial: "users/signup-footer"