%div.default-container 
  = render 'shared/header'
  - breadcrumb :mypage_identification
  = render 'shared/bread-crumbs'
  %main.large-container.clearfix
    %div.large-content
      %section.large-chapter-container.mypage-identification
        %h2.large-chapter-head 本人情報の登録
        =form_for :address, url: mypage_identification_path ,html: { class: "large-single-inner" }  do |f|
        
          %div
            = simple_format "お客さまの本人情報をご登録ください。\n登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。"
            %p.text-right
              = link_to '本人確認書類のアップロードについて',"/"
              %i 
          %div.form-group
            %label
              お名前
            %p
              =  "#{current_user.address.family_name}"+" "+"#{current_user.address.first_name}"
          %div.form-group
            %label
              お名前カナ
            %p
              =  "#{current_user.address.family_name_kana}"+" "+"#{current_user.address.first_name_kana}"
          %div.form-group
            %label
              生年月日
            %p
              = "#{current_user.birth_year}"+"/"+"#{current_user.birth_month}"+"/"+"#{current_user.birth_day}"
          %div.form-group
            %label 
              郵便番号
            %span.form-arbitrary
              任意
            = f.text_field "postal_code", {class: "input-default",placeholder: '111-0000',value:"#{current_user.address.postal_code}"}
          %div.form-group
            %label 
              都道府県
            %span.form-arbitrary
              任意
            %div.select-wrap
              = f.collection_select :prefecture_id, Prefecture.all, :id, :name , { include_blank: true, selected: current_user.address.prefecture_id}, { class: 'select-default' }
          %div.form-group
            %label 
              市町村
            %span.form-arbitrary
              任意
            = f.text_field "minicipality",  {class: "input-default",placeholder: '例）横浜市緑区',value:"#{current_user.address.minicipality}",}
          %div.form-group
            %label 
              番地
            %span.form-arbitrary
              任意
            = f.text_field "address", {class: "input-default",placeholder: '例）青山1-1-1',value: "#{current_user.address.address}"}
          %div.form-group
            %label 
              建物名
            %span.form-arbitrary
              任意
            = f.text_field "building", {class: "input-default",placeholder: '例）柳ビル',value:"#{current_user.address.building}"}
          %div.form-group
            = f.submit "登録", {class: "btn-red btn-default"} 
          %div.form-group.text_right
            %p.mypage-identification
              .text-right
                = link_to "本人情報の登録について", "/"
    = render  'shared/l-side'
  = render  'shared/footer'
  = render  'shared/selling_btn'