%div.default-container 
  = render  'shared/header'
  = render 'shared/bread-crumbs'
  %main.large-container.clearfix
    %div.large-content
      %div.large-chapter-container
        = form_tag('users_identification_path', method: :post,class: "large-single-inner" ) do |f|
          %div.large-single-content
            = submit_tag "ログアウト", {class: "btn-red btn-default"} 
    = render  'shared/l-side'
  = render  'shared/footer'