= render 'shared/header'
- breadcrumb :myitems, @user
= render 'shared/bread-crumbs'
.mypage-container
  .mypage-container__box
    .l-side-bar
      = render 'shared/l-side'
    .mypage-content
      %section.mypage-purchased-myitems
        %h2.mypage-purchased-myitems__header
          出品した商品
        %ul.mypage-items-menu
          %li.mypage-items-menu-left
            = link_to(root_path, class: "mypage-items-menu-tabs") do
              出品中
          %li.mypage-items-menu-center
            = link_to(root_path, class: "mypage-items-menu-tabs") do
              取引中
          %li.mypage-items-menu-right
            = link_to(root_path, class: "mypage-items-menu-tabs") do
              売却済
        - if current_user.products.present?
          - current_user.products.each do |product|
            .mypage-tab-content
              = link_to users_mypage_myitem_path(product.id),class: "mypage-item-link" do
                .lazyloaded
                  = image_tag "#{product.images.first.image}", class: ''
                .mypage-item-body
                  .product-title
                    = product.product_name
                  .product-icons
                    %i.far.fa-heart
                      %span
                        0
                    %i.far.fa-comment
                      %span
                        0
                    .mypage-item-statusblue
                      出品中
                .icon-arrow-right
                  >
        - else
          %ul
            %li.mypage-purchased-myitems__text
              取引中の商品がありません

.mypage__footer
  = render 'shared/footer'
