= render 'shared/header'
- breadcrumb :user, @user
= render 'shared/bread-crumbs'
.mypage-container
  .mypage-container__box
    .l-side-bar
      = render 'shared/l-side'
    .mypage-content
      %section.mypage-purchased-myitems
        %h2.mypage-purchased-myitems__header
          購入した商品
        %ul.mypage-items__menu
          %li.mypage-items__menu__left
            = link_to(root_path, class: "mypage-items__menu__tabs") do
              出品中
          %li.mypage-items__menu__center
            = link_to(root_path, class: "mypage-items__menu__tabs") do
              取引中
          %li.mypage-items__menu__right
            = link_to(root_path, class: "mypage-items__menu__tabs") do
              売却済
        .div
          %ul
          - if current_user.product
            %li.mypage-purchased-myitems__text
              取引中の商品がありません
          -# %ul.mypage__tab__past
          -#   %li.mypage__item__nothing
          -#     過去に取引した商品はありません
.mypage__footer
  = render 'shared/footer'
