.default-container
  = render  'shared/header'
  %section.product-box-container.large-single-container
    %h1.product-name MacBook エアー
    .product-main-content.clearfix
      .product-photo
        .owl-carousel.owl-loaded.owl-drag
          .owl-stage-outer
            .owl-stage
              .owl-product.active
                .owl-product-inner.is-higher-height
                -# 以下のコメントアウトはモデルがないので仮で書いています。
                  -# = image_tag "#{@product.images.find(1)[:image]}",
                    class: 'owl-lazy',width: "300" ,hight: "300"
          .owl-dots
            -# - @product.images.each do |thumbnail|
              .owl-dot
                .owl-dot-inner
                  = image_tag "#{thumbnail.image}",
                  class: 'owl-lazy',width: "60" ,hight: "60"
      %table.product-detail-table
        %tbody
          %tr
            %th 出品者
            %td
              -# = link_to "#{@product.product_name}"

                .product-user-ratings
                  %i.icon-good
                    %i.far.fa-smile-wink
                  %span ??
                .product-user-ratings
                  %i.icon-normal
                    %i.far.fa-meh
                  %span ??
                .product-user-ratings
                  %i.icon-bad
                    %i.far.fa-frown-open
                  %span ??
          %tr
            %th カテゴリー
            %td
              = link_to "未実装","/"

              = link_to "> 未実装","/"

              = link_to "> 未実装","/"
          %tr
            %th ブランド
            %td
              = link_to "未実装","/"
          %tr
            %th 商品の状態
            %td
              -# = @product.condition
          %tr
            %th 配送料の負担
            %td
              -# = @product.delivery_charge
          %tr
            %th 配送の方法
            %td
              -# = @product.delivery_way
          %tr
            %th 配送元地域
            %td
              -# = link_to "??????","/"
          %tr
            %th 発送日の目安
            %td
              -# = @product.delivery_date
    .product-price-box.text-center
      %span.product-price.bold
        -# = "¥#{@product.price}"
      %span.product-tax
        (税込)
      %span.product-shipping-fee
        送料込み
    .products-discripution
      %p.products-discripution-inner
        ssssssssssssssss
  .products-detail-btn
    .products-detail-btn-style.edit
      = link_to "商品の編集", root_path
    .or or
    .products-detail-btn-style.gray
      = link_to "出品を一旦停止する", root_path
    .products-detail-btn-style.gray.btn
      = link_to "この商品を削除する", products_delete_path, method: :delete
  .product-detail-message
    .message-container
      .message-content
        = form_for "",html: { class: "message-form" },local: true do |f|
          %p
            相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          = f.text_area :message, class: 'textarea-default'
          = f.submit "コメントする", {class: "message-submit btn-default btn-gray"}
      %aside.modal
        %p.modal-title
          確認
          %br/削除すると二度と復活できません。
          %br/削除する代わりに停止することもできます。
          %br/本当に削除しますか？
        .modal-box-right.btn-cancel
          削除
        .modal-box-left.btn-delete
          キャンセル



  = render 'shared/bread-crumbs'
  = render  'shared/footer'
