= render 'shared/header'
- breadcrumb :user, @user
= render 'shared/bread-crumbs'
.mypage-container
  .mypage-container__box
    .l-side-bar
      = render 'shared/l-side'
    .mypage-content
      %section.mypage-content__icon
        = link_to(root_path, class: "mypage-icon") do
          .mypage-icon__figure
            = image_tag 'member.png', height: '60px', width: '60px'
          %h2.mypage-user
            = current_user.nickname
          .mypage-user__info
            .mypage-user__review
              評価
              %span.mypage-user__num
                0
            .mypage-user__products
              商品数
              %span.mypage-user__num
                = current_user.products.length
      %section.mypage-news
        %ul.mypage-news__menu
          %li.mypage-news__menu__left
            = link_to(root_path, class: "mypage-news__menu__tabs") do
              お知らせ
          %li.mypage-news__menu__right
            = link_to(root_path, class: "mypage-news__menu__tabs") do
              やることリスト
        %div
          %ul.mypage-news
            %li
              = link_to(root_path, class: "mypage-news__item") do
                = image_tag 'mercari_items_logo.png', class: 'mypage-news__logo'
                .mypage-news__body
                  .mypage-news__text
                    《まもなく終了！》今なら最大”P1500”もらえる！詳しくはこちらから♪
                  .mypage-news__time
                    %i.far.fa-clock
                    %span
                      22時間前
                .mypage-news__click
                  %i.fas.fa-angle-right.fa-2x.mypage-news__click--icon
            %li
              = link_to(root_path, class: "mypage-news__item") do
                = image_tag 'mercari_items_logo.png', class: 'mypage-news__logo'
                .mypage-news__body
                  .mypage-news__text
                    《まもなく終了！》今なら最大”P1500”もらえる！詳しくはこちらから♪
                  .mypage-news__time
                    %i.far.fa-clock
                    %span
                      22時間前
                .mypage-news__click
                  %i.fas.fa-angle-right.fa-2x.mypage-news__click--icon
            %li.mypage-news__foot
              = link_to(root_path, class: "mypage-news__foot--link") do
                一覧をみる
      %section.mypage-purchased-items
        %h2.mypage-purchased-items__header
          購入した商品
        %ul.mypage-news__menu
          %li.mypage-news__menu__left
            = link_to(root_path, class: "mypage-news__menu__tabs") do
              取引中
          %li.mypage-news__menu__right
            = link_to(root_path, class: "mypage-news__menu__tabs") do
              過去の取引
        .div
          %ul
            %li.mypage-purchased-items__text
              取引中の商品がありません
.mypage__footer
  = render 'shared/footer'

= render 'shared/selling_btn'
