.registration-container
  %header.registration-header
    %h1
      = link_to(root_path, class: "registration-header__logo") do
        = image_tag 'mercari_logo_horizontal',
          class: 'registration-header__logo__img'
    %nav.registration-header__progress-bar
      %ol
        %li
          会員情報
          .progress__status.progress__status--active
          .progress__bar.progress__bar--after.progress__bar--active
        %li
          電話番号認証
          .progress__bar.progress__bar--before.progress__bar--active
          .progress__status.progress__status--active
          .progress__bar.progress__bar--after.progress__bar--active
        %li
          お届け先住所入力
          .progress__bar.progress__bar--before.progress__bar--active
          .progress__status.progress__status--active
          .progress__bar.progress__bar--after.progress__bar--active
        %li.registration-header--active
          支払い方法
          .progress__bar.progress__bar--before.progress__bar--active
          .progress__status.progress__status--active
          .progress__bar.progress__bar--after
        %li
          完了
          .progress__bar.progress__bar--before
          .progress__status
  %main.registration-main
    .registration-main__container
      %h2.registration-main__text 支払い方法
      = form_tag(users_signup_payment_path,
        method: :post,
        class: "registration__form",
        id: "payment_form") do
        .registration__form__content
          .registration__form__group
            %label カード番号
            %span.registration__form--require 必須

            %input{ type: "text",
                    name: "card_number",
                    id: "card_number",
                    maxlength: "16",
                    class: "registration__form__input",
                    placeholder: "半角数字のみ" }
          .signup-payment__card-list
            = image_tag 'visa.svg'
            = image_tag 'master-card.svg'
            = image_tag 'saison-card.svg'
            = image_tag 'jcb.svg'
            = image_tag 'american_express.svg'
            = image_tag 'dinersclub.svg'
            = image_tag 'discover.svg'
          .registration__form__group
            %div
              %label 有効期限
              %span.registration__form--require 必須
            = select_tag(:exp_month,
              options_for_select([["01", "1"],
                                  ["02", "2"],
                                  ["03", "3"],
                                  ["04", "4"],
                                  ["05", "5"],
                                  ["06", "6"],
                                  ["07", "7"],
                                  ["08", "8"],
                                  ["09", "9"],
                                  ["10", "10"],
                                  ["11", "11"],
                                  ["12", "12"]]),
              class: "registration__form__input signup-payment__input--half")
            %span.signup-payment__form__text 月
            = select_tag(:exp_year,
              options_for_select([["19", "2019"],
                                  ["20", "2020"],
                                  ["21", "2021"],
                                  ["22", "2022"],
                                  ["23", "2023"],
                                  ["24", "2024"],
                                  ["25", "2025"],
                                  ["26", "2026"],
                                  ["27", "2027"],
                                  ["28", "2028"],
                                  ["29", "2029"]]),
              class: "registration__form__input signup-payment__input--half")
            %span.signup-payment__form__text 年
          .registration__form__group
            %label セキュリティコード
            %span.registration__form--require 必須
            = text_field_tag(:cvc,
              nil,
              class: "registration__form__input",
              maxlength: "4",
              placeholder: "カード背面4桁もしくは3桁の番号")
          %div.signup-payment__security-code
            %span ?
            カード裏面の番号とは？
          = submit_tag("次へ進む",
            class: "registration__form__next-btn",
            id: "card_submit")
  = render partial: "users/signup-footer"
