.registration-container
  %header.registration-header
    %h1
      %a(href="/" class="registration-header__logo")
        = image_tag 'mercari_logo_horizontal', class: 'registration-header__logo--img'
    %nav.registration-header__progress-bar
      %ol
        %li
          会員情報
          .registration-header__progress-status.registration-header__progress-status--active
          .progress-status__bar.progress-status__bar--after.progress-status__bar--active
        %li.registration-header--active
          電話番号認証
          .progress-status__bar.progress-status__bar--before.progress-status__bar--active
          .registration-header__progress-status.registration-header__progress-status--active
          .progress-status__bar.progress-status__bar--after
        %li
          お届け先住所入力
          .progress-status__bar.progress-status__bar--before
          .registration-header__progress-status
          .progress-status__bar.progress-status__bar--after
        %li
          支払い方法
          .progress-status__bar.progress-status__bar--before
          .registration-header__progress-status
          .progress-status__bar.progress-status__bar--after
        %li
          完了
          .progress-status__bar.progress-status__bar--before
          .registration-header__progress-status
  %main.registration-main
    .registration-main__container
      %h2 電話番号の確認
      =form_for :user, html: { class: "registration-main__form" } do |f|
        .registration-main__form__content
          .registration-main__form__group
            = f.label :phone_number, "携帯電話の番号"
            = f.phone_field :phone_number, class: "registration-main__form__input", placeholder: "携帯電話の番号を入力"
          %p.sms_confirmation__form__text
            本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
          = f.submit class: "signup__form__btn signup__form__btn--mail registration-main__form__next-btn", value: "SMSを送信する"
          %p.sms_confirmation__form__text
            ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
          .registration-main__form__about-text
            %a(href="/") 電話番号の確認が必要な理由＞
  %footer.signup__footer
    .signup__footer__nav
      %ul.signup__footer__nav__links
        %li
          %a{href: "/", class: "signup__footer__nav__link"} プライバシーポリシー
        %li
          %a{href: "/", class: "signup__footer__nav__link"} メルカリ利用規約
        %li
          %a{href: "/", class: "signup__footer__nav__link"} 特定商取引に関する表記
      %a(href="/")
        = image_tag 'mercari_logo_vertical', class: 'signup__footer__nav__logo'
      %p.signup__footer__nav__text
        © 2019 Mercari
