-# %header.sp-header.visible-sp
%header.pcheader.visible-pc 
  %div.pcheader-inner
    %div.pcheader-top
      %h1
        %a
          = image_tag "logo.svg",width: "134" ,hight: "36"
      = form_tag('users_identification_path', method: :post,class: "pcheader-form" ) do |f|
        = text_field_tag "keyword", '', {class: "input-default",placeholder: '何をお探しですか？'} 
        = image_tag "scope.jpg",width: "20" ,hight: "20",class: "icon-search"
    %div.pcheader-nav-box.clearfix
      %nav.l-left
        %ul.pcheader-nav
          %li
            %h2
              %a
                = image_tag "scope.jpg",width: "20" ,hight: "20"
              %span
                カテゴリーから探す
            %ul.pcheader-nav-parent-wrap{"data-mega": "#{1}"}
              %li.pcheader-nav-parent
                %h3
                  レディース
                %ul.pcheader-nav-child-wrap{"data-mega": "#{2}"}
                  %li.pcheader-nav-child
                    %a
                      トップス
                    %ul.pcheader-nav-grand-child-wrap{"data-mega": "#{3}"}
                      %li.pcheader-nav-grand-child
                        %a
                          Tシャツ/カットソー（半袖/袖なし）
                      %li.pcheader-nav-grand-child
                        %a
                          Tシャツ/カットソー（七分/長袖）
                  %li.pcheader-nav-child
                    %a
                      ジャケット/アウター
                    %ul.pcheader-nav-grand-child-wrap{"data-mega": "#{3}"}
                      %li.pcheader-nav-grand-child
                        %a
                          なんたら
                      %li.pcheader-nav-grand-child
                        %a
                          かんたら
              %li.pcheader-nav-parent
                %h3
                  メンズ
                %ul.pcheader-nav-child-wrap{"data-mega": "#{2}"}
                
          %li
            %h2
              %a
                = image_tag "scope.jpg",width: "20" ,hight: "20"
              %span
                ブランドから探す
              -# %ul.pcheader-nav-parent-wrap
              -#   %li.pcheader-nav-parent
              -#     %h3
              -#       %a
              -#         ナイキ
              -# %ul.pcheader-nav-parent-wrap
              -#   %li.pcheader-nav-parent
              -#     %h3
              -#       %a
              -#         シュプリーム

      %div.l-right
        %ul.pcheader-user-nav
          %li.liked-items-link
            %a.pcheader-menu-link{"data-id": "#{"pcheader-user-nav"}"}
              = icon 'far', 'heart', class: "pcheader-menu-icon"
              %span
                良いね！一覧
              %ul.pcheader-user-box.pcheader-notification-box.mypage-item-list
          %li
            %a.pcheader-menu-link
              = icon 'far', 'bell', class: "pcheader-menu-icon"
              %span
                お知らせ
              %ul.pcheader-user-box.pcheader-notification-box.mypage-item-list
          %li
            %a.pcheader-menu-link
              = icon 'fas', 'check', class: "pcheader-menu-icon"
              %span
                やることリスト
              %ul.pcheader-user-box.pcheader-notification-box.mypage-item-list
          %li
            %a(href="/users/mypage" class="pcheader-menu-link")
              = image_tag "member.png", class: "pcheader-menu-mypage-img"
              %span
                マイページ
            -# %div.pcheader-user-box.pcheader-mypage-box
              %div.pcheader-mypage-state.text-center
                %figure
                  %div
                    = image_tag "member.png"
                  %figcaption
                    =  @test_model[:name]
                %ul.pcheader-mypage-review-listing
                  %li
                    %a.pcheader-link
                      = "評価:"+"#{0}"
                  %li
                    %a.pcheader-link
                      = "出品集:"+"#{0}"
                %ul.pcheader-mypage-sales-point
                  %li
                    %a.pcheader-link.clearfix
                      %div.l-left
                        売上金
                      %div.right
                      =  "¥ "+"#{0}"
                      %i.icon-arrow-right
                        >
                  %li
                    %a.pcheader-link.clearfix
                      %div.l-left
                        ポイント
                      %div.right
                      ="P "+ "#{0}"
                      %i.icon-arrow-right
                        >
              %ul.mypage-nav-list
                %li
                  %a.mypage-nav-list-item
                    マイページ
                    %i.icon-arrow-right
                      >
                %li
                  %a.mypage-nav-list-item
                    お知らせ
                    %i.icon-arrow-right
                      >
                %li
                  %a.mypage-nav-list-item
                    やることリスト
                    %i.icon-arrow-right
                      >
                %li
                  %a.mypage-nav-list-item
                    いいね一覧
                    %i.icon-arrow-right
                      >
                %li
                  %a.mypage-nav-list-item
                    出品する
                    %i.icon-arrow-right
                      >
                %li
                  %a.mypage-nav-list-item
                    出品した商品・出品中
                    %i.icon-arrow-right
                      >
                %li
                  %a.mypage-nav-list-item
                    出品した商品・取引中
                    %i.icon-arrow-right
                      >
                %li
                  %a.mypage-nav-list-item
                    出品した商品・売却済み
                    %i.icon-arrow-right
                      >
                %li
                  %a.mypage-nav-list-item
                    購入した商品・取引中
                    %i.icon-arrow-right
                      >
                %li
                  %a.mypage-nav-list-item
                    購入した商品・過去の取引
                    %i.icon-arrow-right
                      >