- case brand
  - when "Visa" then
    = image_tag 'visa.svg',
    class: 'mypage-card__card__icon'
  - when "MasterCard" then
    = image_tag 'master-card.svg',
    class: 'mypage-card__card__icon'
  - when "JCB" then
    = image_tag 'jcb.svg',
    class: 'mypage-card__card__icon'
  - when "American Express" then
    = image_tag 'american_express.svg',
    class: 'mypage-card__card__icon'
  - when "Diners Club" then
    = image_tag 'dinersclub.svg',
    class: 'mypage-card__card__icon'
  - when "Discover" then
    = image_tag 'discover.svg',
    class: 'mypage-card__card__icon'
