- case brand
  - when brand = "Visa" then
    = image_tag 'visa.svg',
    class: 'mypage-card__card__icon'
  - when brand = "MasterCard" then
    = image_tag 'master-card.svg',
    class: 'mypage-card__card__icon'
  - when brand = "JCB" then
    = image_tag 'jcb.svg',
    class: 'mypage-card__card__icon'
  - when brand = "American Express" then
    = image_tag 'american_express.svg',
    class: 'mypage-card__card__icon'
  - when brand = "Diners Club" then
    = image_tag 'dinersclub.svg',
    class: 'mypage-card__card__icon'
  - when brand = "Discover" then
    = image_tag 'discover.svg',
    class: 'mypage-card__card__icon'
