.mypage-card
  = render partial: 'shared/header'
  - breadcrumb :mypage_card
  = render partial: 'shared/bread-crumbs'
  .mypage-card__main__container
    = render partial: 'shared/l-side'
    .mypage-card__container
      %h2.mypage-card__head
        支払い方法
      .mypage-card__inner
        %p.mypage-card__inner__text
          クレジットカード一覧
        %ul.mypage-card__cards
          %li.mypage-card__card
            = image_tag 'visa.svg',
            class: 'mypage-card__card__icon'
            .mypage-card__card__payment-num
              ************1111
            .mypage-card__card__payment-expire-date
              05 / 05
            .mypage-card__card__payment-remove-btn
              削除する
        = link_to "クレジットカードを追加する",
          add_cards_path,
          class: "mypage-card__btn"
        = link_to "支払い方法について＞",
          root_path,
          class: "mypage-card__link"