= link_to(product_path(product),
  class: "top-items") do
  .top-items__photo
    = image_tag product.images.first.image,
      class: 'top-items__photo-img'
  - if product.order_status == true
    .tag-sold
      %span.tag-sold__text SOLD
  .top-items__body
    .top-items__name
      = product.product_name
    .top-items__info
      .top-items__price
        %span<>¥
        = product.price.to_s(:delimited)
      .top-items__likes
        %i.far.fa-heart
        %span 
          - if product.likes_count?
            = product.likes_count
          - else
            0

