.confirm-header
  = render partial: "users/signup-header"
.confirm-main
  .confirm-main__container
    %h2.confirm-head
      購入内容の確認
    .confirm-content
      .confirm-item
        = image_tag @product.images.first.image,
          class: 'confirm-item__image'
        %p.confirm-item__name
          - if @product.product_name.length > 39
            = @product.product_name.slice(0..38)
            %span<>…
          - else
            = @product.product_name
        %p.confirm-item__price
          %span<>¥
          = @product.price.to_s(:delimited, delimiter: ',')
          %span.confirm-item__shipment-fee
            = @product.delivery_charge
        .confirm-item__point
          ポイントはありません
        .confirm-item__total-price-label
          支払い金額
          %span.confirm-item__total-price<>
            ¥
            = @product.price.to_s(:delimited, delimiter: ',')
        - if @address.blank? || @cards.blank?
          .confirm-item__error-message
            配送先と支払い方法の入力を完了してください。
          .confirm-purchase-btn.btn-disabled
            購入する
        - else
          = link_to("購入する",
            purchase_product_path,
            method: :post,
            class: "confirm-purchase-btn")
      .confirm-user
        %h3.confirm-address__head
          配送先
        .confirm-address
          %span<>〒
          = @address.postal_code
          %br
          = user_address(@address)
          %br
          = user_name(@address)
        .confirm-link
          = link_to("変更する＞",
            root_path)
      .confirm-user.confirm-user--btm
        %h3.confirm-address__head
          支払い方法
        .confirm-address
          - if @cards.blank?
            %span /
          - else
            ************
            %span<>
            = @cards[0]["last4"]
            %br
            = sprintf("%02d", @cards[0]["exp_month"])
            %span /
            = @cards[0]["exp_year"] % 100
            %br
            = render "cards/cards",
              brand: @cards[0]["brand"]
          .confirm-link
            = link_to("変更する＞",
              root_path)
= render partial: "users/signup-footer"
