%main#main
  %section.container
    #sell__container
      %div
        .sell__container__inner
          %h2.sell__head 商品の情報を入力
          = form_for @product, class: "sell__form" do |f|
            .sell-upload__box
              %h3.sell-upload__head
                出品画像
                %span.form-require 必須
              %p 最大4枚までアップロードできます
              = f.fields_for :images do |fi|
                = fi.label :image, class: "sell-upload__drop__box" do
                  .sell-upload__imageview
                    = fi.file_field :image,class:"file",style:"display:none;"
                    %pre
                      #preview
                        クリックしてファイルをアップロード
            .sell-content
              .form-group
                %label
                  商品名
                  %span.form-require 必須
                %div
                  = f.text_field :product_name, class: "input-default", placeholder: "商品名（必須 40文字まで)"
              .form-group
                %label
                  商品の説明
                  %span.form-require 必須
                = f.text_area :description, class: "textarea-default", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: "5"
            .sell-content.clearfix
              %h3.sell-sub-head 商品の詳細
              .sell-form-box
                .form-group
                  %label
                    カテゴリー
                    %span.form-require 必須
                  %div
                    .select-wrap
                      = f.select :first_category_id, options_from_collection_for_select( @first, :id, :first_category),{prompt: '---'}, {data: {remote: true, url: url_for(action: :secondcategory)}}
                    #second-select
                    #third-select
                .form-group
                  %label
                    商品の状態
                    %span.form-require 必須
                  .select-wrap
                    = f.select :condition ,["---","新品、未使用","未使用に近い","目立った傷や汚れなし","やや傷や汚れあり","傷や汚れあり","全体的に状態が悪い"]
            .sell-content.clearfix
              %h3.sell-sub-head 配送について
              = link_to '?', "/jp/help_center/article/68/",class: "form-question"
              .sell-form-box
                .form-group
                  %label
                    配送料の負担
                    %span.form-require 必須
                  .select-wrap
                    = f.select :delivery_charge, ["---","送料込み(出品者負担)","着払い(購入者負担)"]
                .form-group
                  %label
                    配送方法
                    %span.form-require 必須
                  .select-wrap
                    = f.select :delivery_way, ["---","未定","らくらくメルカリ便","ゆうメール","レターパック","普通郵便(定形,定形外)","クロネコヤマト","ゆうパック","クリックポスト","ゆうパケット"], class: "select-default"
                .form-group
                  %label
                    発送元の地域
                    %span.form-require 必須
                  .select-wrap
                    = f.collection_select :prefecture_id, Prefecture.all, :id, :name, { class: 'registration__form__input' }
                .form-group
                  %label
                    発送までの日数
                    %span.form-require 必須
                    .select-wrap
                      = f.select :delivery_date, ["---","1〜2日で発送","2〜3日で発送","4〜7日で発送"], class: "select-default"
            .sell-content.clearfix
              %h3.sell-sub-head 販売価格(300〜9,999,999)
              = link_to '?', "/jp/help_center/article/68/", class: "form-question"
              .sell-form-box
                %ul.sell__price
                  %li.form-group
                    .clearfix
                      %label.l-left
                        価格
                        %span.form-require 必須
                      .l-right.sell-price-input
                        ¥
                        %div
                          #sell-price
                            =f.number_field :price, class: "input-default", id: "input__price", placeholder: "例）300", value: ""
                  %li.clearfix
                    .l-left
                      販売手数料 (10%)
                    .l-right#output -
                  %li.clearfix.bold
                    .l-left 販売利益
                    .l-right#output2 -
            = f.number_field :order_status_id, value: "1", type: "hidden"
            .sell-content.sell-btn-box
              %div
                %p
                  = link_to '禁止されている出品', "/jp/help_center/getting_started/prohibited_items/"
                  、
                  = link_to '行為を必ずご確認ください。', "/jp/help_center/getting_started/prohibited_conduct/"
                %p
                  またブランド品でシリアルナンバー等がある場合はご記載ください。
                  = link_to '偽ブランドの販売', "/jp/help_center/getting_started/counterfeit_goods/"
                  は犯罪であり処罰される可能性があります。
                %p
                  また、出品をもちまして
                  = link_to '加盟店規約', "/jp/seller_terms/"
                  に同意したことになります。
              = f.submit class: "btn-default btn-red", value: "出品する"
              = link_to 'もどる', root_path, class: "btn-gray"