%link{:href => "sell.js", :rel => "javascripts", :type => "text/js"}/
.sell-wrapper
  = form_for "",html:{ class: "sell"}  do |f|
    .logo-space
      = link_to 
      .mercari--icon
      %img{ src:  "" }/
    .sell-item-clearfix
      .sell-info
        .sell-banner
          %h4 商品の情報を入力
      .sell-photo
        %h4 
          出品画像
          %span 必須
        %h5 最大10枚までアップロードできます
        -# 以下にドラドロ機能付け加える
        .sellbox
          %h5 ドラッグアンドドロップ
          %h5 またはクリックしてファイルをアップロード
          %input#fileInput{:accept => "image/*", :multiple => "multiple", :type => "file"}/
          #output
        .sell-eroor-message
          %h5 画像がありません
      .sell-item-boxone
        .sell-item
          %h4 
            商品名
            %span 必須
          = f.text_field "", class: "sell-item-write",placeholder: '商品名（必須：最大40文字まで)'
        .sell-eroor-message
          %h5 入力してください
        .sell-item--description
          %h4 
            商品の説明
            %span 必須
          = f.text_area "", class: "sell-item--description-write",placeholder: '商品の説明（必須：最大1,000文字まで）', size: "100x50"
        .sell-eroor-message
          %h5 入力してください
      .sell-item-boxtwo
        %h5 商品の詳細
        .sell-item-boxindex
          .sell-itemcat
            %h4 
              カテゴリー
              %span 必須
          .sell-itemcatbox
          .sell-eroor-message
            %h5 選択してください
          .sell-itemstate
            %h4 
              商品の状態
              %span 必須
          .sell-itemstatebox
          .sell-eroor-message
            %h5 選択してください
      .sell-delivery
        %h5 配送について
        %img{ src:  "" }/
        .sell-delivery-boxindex
          .sell-delivery-charge
            %h4 
              配送料の負担
              %span 必須
          .sell-delivery-chargebox
          .sell-eroor-message
            %h5 選択してください
          .sell-delivery-region
            %h4
              発送元の地域
              %span 必須
          .sell-delivery-regionbox
          .sell-eroor-message
            %h5 選択してください
          .sell-delivery-days
            %h4 
              発送までの日数
              %span 必須
          .sell-delivery-daysbox
          .sell-eroor-message
            %h5 選択してください
      .sell-price
        %h5 販売価格(300〜9,999,999)
        %img{ src:  "" }/
        .sell-price-boxindex
          .sell-price-charge-clearfix
            .sell-price-charge-left
              %h4 
                価格
                %span 必須
              = f.text_field "", class: "sell-price-charge-right",placeholder: '¥'
          .sell-eroor-message
            %h5 300以上9999999以下で入力してください
          .sell-price-chargebox
          .sell-price-fee
            %h5 販売手数料 (10%)
            .sell-price-feebox
          .sell-sales-profit
            %h4 販売利益
            .sell-sales-profitbox
      .sell-tips
        %h5 
          %span<> 禁止されている出品
          、
          %span<> 行為
          を必ずご確認ください。
        %h5 
          またブランド品でシリアルナンバー等がある場合はご記載ください。
          %span<> 偽ブランド
          の販売は犯罪であり処罰される可能性があります。
        %h5 
          また、出品をもちまして
          %span<> 加盟店規約
          に同意したことになります。
      .sell-btn
        %h5 出品する
      .sell-return-btn
        %h5 もどる
    %footer.sell-footer
      .sell-rules
        %h6 プライバシーポリシー
        %h6 メルカリ利用規約
        %h6 特定商取引に関する表記
      .sell-footer-right-one
        = image_tag '', class: ''
      .sell-last-year
        %h6 © 2019 Mercari