%link{:href => "sell.js", :rel => "javascripts", :type => "text/js"}/
.sell-wrapper
  = form_for "",html:{ class: "sell"}  do |f|
    .logo-space
      = link_to
      .mercari--icon
      = image_tag '', class: ''
    .sell-item-clearfix
      .sell-info
        .sell-banner
          %h4 商品の情報を入力
      .sell-photo
        %h4 
          出品画像
          %span 必須
        %h5 最大10枚までアップロードできます
        .sellbox
          %h5 ドラッグアンドドロップ
          %h5 またはクリックしてファイルをアップロード
          %input#fileInput{accept:  "image/*", multiple: "multiple", type: "file"}/
          #output
        .sell-eroor-message
          %h5 画像がありません
      .sell-item-boxone
        .sell-item
          %h4 
            商品名
            %span 必須
          = f.text_field "", class: "sell-item-write",placeholder: '商品名（必須：最大40文字まで)'
        .sell-eroor-message
          %h5 入力してください
        .sell-item--description
          %h4 
            商品の説明
            %span 必須
          = f.text_area "", class: "sell-item--description-write",placeholder: '商品の説明（必須：最大1,000文字まで）', size: "100x50"
        .sell-eroor-message
          %h5 入力してください
      .sell-item-boxtwo
        %h5 商品の詳細
        .sell-item-boxindex
          .sell-itemcat
            %h4 
              カテゴリー
              %span 必須
          .sell-itemcatbox
            = f.select "sell-itemcatbox",["---","レディース","メンズ","ベビー・キッズ","インテリア・住まい・小物","本・音楽・ゲーム","おもちゃ・ホビー・グッズ","コスメ・香水・美容","家電・スマホ・カメラ","スポーツ・レジャー","ハンドメイド","チケット","自動車・オートバイ","その他"]
          .sell-eroor-message
            %h5 選択してください
          .sell-itemstate
            %h4
              商品の状態
              %span 必須
          .sell-itemstatebox
            = f.select "sell-itemstatebox",["---","新品、未使用","未使用に近い","目立った傷や汚れなし","やや傷や汚れあり","傷や汚れあり","全体的に状態が悪い"]
          .sell-eroor-message
            %h5 選択してください
      .sell-delivery
        %h5 配送について
        = image_tag '', class: ''
        .sell-delivery-boxindex
          .sell-delivery-charge
            %h4
              配送料の負担
              %span 必須
          .sell-delivery-chargebox
            = f.select "sell-chargebox",["---","送料込み(出品者負担)","着払い(購入者負担)"]
          .sell-eroor-message
            %h5 選択してください
          .sell-delivery-method
            %h4
              配送の方法
              %span 必須
          .sell-delivery-methodbox
            = f.select "sell-methodbox",["---","未定","らくらくメルカリ便","ゆうメール","レターパック","普通郵便(定形,定形外)","クロネコヤマト","ゆうパック","クリックポスト","ゆうパケット"]
          .sell-eroor-message
            %h5 選択してください
          .sell-delivery-region
            %h4
              発送元の地域
              %span 必須
          .sell-delivery-regionbox
            = f.select "sell-regionbox",["北海道","青森県","岩手県","宮城県","秋田県","山形県","福島県","茨城県","栃木県","群馬県","埼玉県","千葉県","東京都","神奈川県","新潟県","富山県","石川県","福井県","山梨県","長野県","岐阜県","静岡県","愛知県","三重県","滋賀県","京都府","大阪府","兵庫県","奈良県","和歌山県","鳥取県","島根県","岡山県","広島県","山口県","徳島県","香川県","愛媛県","高知県","福岡県","佐賀県","長崎県","熊本県","大分県","宮崎県","鹿児島県","沖縄県"]
          .sell-eroor-message
            %h5 選択してください
          .sell-delivery-days
            %h4
              発送までの日数
              %span 必須
          .sell-delivery-daysbox
            = f.select "sell-chargebox",["---","1〜2日で発送","2〜3日で発送","4〜7日で発送"]
          .sell-eroor-message
            %h5 選択してください
      .sell-price
        %h5 販売価格(300〜9,999,999)
        = image_tag '', class: ''
        .sell-price-boxindex
          .sell-price-charge-clearfix
            .sell-price-charge-left
              %h4
                価格
                %span 必須
              = f.text_field "", class: "sell-price-charge-right",placeholder: '¥'
          .sell-eroor-message
            %h5 300以上9999999以下で入力してください
          .sell-price-chargebox
          .sell-price-fee
            %h5 販売手数料 (10%)
            .sell-price-feebox
          .sell-sales-profit
            %h4 販売利益
            .sell-sales-profitbox
      .sell-tips
        %h5
          %span<> 禁止されている出品
          、
          %span<> 行為
          を必ずご確認ください。
        %h5
          またブランド品でシリアルナンバー等がある場合はご記載ください。
          %span<> 偽ブランド
          の販売は犯罪であり処罰される可能性があります。
        %h5
          また、出品をもちまして
          %span<> 加盟店規約
          に同意したことになります。
      .sell-btn
        %h5 出品する
      .sell-return-btn
        %h5 もどる
    %footer.sell-footer
      .sell-rules
        %h6 プライバシーポリシー
        %h6 メルカリ利用規約
        %h6 特定商取引に関する表記
      .sell-footer-right-one
        -# = image_tag '', class: ''
      .sell-last-year
        %h6 © 2019 Mercari
