.default-container 
  = render 'shared/header'
  .shadow
    = render 'shared/shadow'
  %section.product-box-container.large-single-container
    %h1.product-name
      = @product.product_name
    .product-main-content.clearfix
      .product-photo
        .eagle-carousel.eagle-loaded.eagle-drag
          .eagle-stage-outer
            .eagle-stage
              .eagle-product.active
                .eagle-product-inner.is-higher-height
                  = image_tag "#{@product.images.first.image}",
                    class: 'eagle-lazy'
                  - if @product.order_status == true
                    .tag-sold-show
                      %span.tag-sold-show__text SOLD
          .eagle-dots
            - @product.images.each do |thumbnail|
              .eagle-dot
                .eagle-dot-inner
                  = image_tag "#{thumbnail.image}",
                    class: 'eagle-lazy'
      %table.product-detail-table
        %tbody
          %tr
            %th 出品者
            %td
              = link_to "#{@product.user.nickname}", root_path
              %div
                .product-user-ratings
                  %i.icon-good.icon-size
                    %i.far.fa-smile-wink
                  %span ??
                .product-user-ratings
                  %i.icon-normal.icon-size
                    %i.far.fa-meh
                  %span ??
                .product-user-ratings
                  %i.icon-bad.icon-size
                    %i.far.fa-frown-open 
                  %span ??
          %tr
            %th カテゴリー
            %td
              %div
              = link_to @product.first_category.first_category,
                root_path
              %div
              = link_to "＞#{@product.second_category.second_category}",
                root_path
              %div
              = link_to "＞#{@product.third_category.third_category}",
                root_path
          %tr
            %th ブランド
            %td 
              = link_to "未実装", root_path
          %tr
            %th 商品の状態
            %td 
              = @product.condition
          %tr
            %th 配送料の負担
            %td 
              = @product.delivery_charge
          %tr
            %th 配送の方法
            %td 
              = @product.delivery_way
          %tr
            %th 配送元地域
            %td 
              =  Prefecture.find(@product.prefecture_id)[:name]
          %tr
            %th 発送日の目安
            %td
              = @product.delivery_date
    .product-price-box.text-center
      %span.product-price.bold
        = "¥#{@product.price.to_s(:delimited)}"
      %span.product-tax
        (税込)
      %span.product-shipping-fee
        送料込み
      - if @product.order_status == true
        .product-btn-sold
          売り切れました
      - elsif user_signed_in?
        - unless current_user.id == @product.user_id
          = link_to "購入画面に進む",
            confirm_product_path(@product),
            class: "product-buy-btn"
      - else 
        = link_to "購入画面に進む",
          new_user_session_path,
          class: "product-buy-btn"
    .product-description.f14
      = simple_format "#{@product.description}",
        class:'product-description-inner'
    .product-button-container.clearfix
      .product-button-left
        %button.product-button.product-button-like
          %i.icon-like-border
            %i.far.fa-heart.product-heart-icon
            %span
              良いね！
            %span.fade-in-down
              0
        %button.product-button.product-button-report.clearfix
          %i.icon-flag
            %i.far.fa-flag.product-flag-icon
            %span
              不適切な商品の報告
      .product-button-right
        %i.icon-lock
          あんしん・あんぜんへの取り込み
  .product-detail-message
    .message-container
      .message-content
        = form_for "",html: { class: "message-form" },local: true do |f|
          %p
            相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          = f.text_area :message, class: 'textarea-default'
          = f.submit "コメントする", {class: "message-submit btn-default btn-gray"} 
  %ul.navigation-product-link-prev-next.clearfix
    %li.navigation-product-link-prev
      %a
        %i.icon-arrow-left
          - if @previous.present?
            = link_to product_path(@previous) do
              <
              = @previous.product_name
    %li.navigation-product-link-next
      %a
        %i.icon-arrow-left
          - if @next.present?
            = link_to product_path(@next) do
              = @next.product_name
              >
  .product-social-media-box
    .text-center
      .fb-save.fb_iframe_widget{"data-uri":"#{""}","fb-xfbml-state":"#{""}","fb-iframe-plugin-query":"#{""}"}
    %ul.social-media-box
      %li
        %a
          = image_tag "fb_b.png", width: "44"
      %li
        %a
          = image_tag "tw_b.png", width: "44"
      %li
        %a
          = image_tag "pin_r.jpg", width: "44"
  .products-in-user-profile
    %section.products-box-container.clearfix.related-product-column.products-in-user-profile
      %h2.products-box-head
        %a
          = "#{@product_user.nickname}"+"さんのその他の出品"
      .products-box-content.clearfix
      - @product_user.products.last(6).each.with_index do |pro,i|
        %section.products-box{"class":"products-id#{i+1}"}
          = link_to product_path(pro) do
            %figure.products-box-photo
              = image_tag "#{pro.images.first.image}",width: "220" ,hight: "220"
            .products-box-body
              %h3.products-box-name.font-2
                = pro.product_name
              .products-box-num
                .products-box-price.font-5
                  = "¥#{pro.price}"
                .font-2
                  %i.icon-like-border
                    %i.far.fa-heart
                    %span
                    = "#{"1"}"
    %section.products-box-container.clearfix.related-product-column
      %h2.products-box-head
        %a
          = "#{@product_category.third_category}"+"のその他の出品"
      .products-box-content.clearfix
      - @product_category.products.last(6).each.with_index do |pro,i|
        %section.products-box{"class":"products-id#{i+1}"}
          = link_to product_path(pro) do
            %figure.products-box-photo
              = image_tag "#{pro.images.first.image}",width: "220" ,hight: "220"
            .products-box-body
              %h3.products-box-name.font-2
                = pro.product_name
              .products-box-num
                .products-box-price.font-5
                  = "¥#{pro.price}"
                .font-2
                  %i.icon-like-border
                    %i.far.fa-heart
                    %span
                    = "#{"1"}"
  = render 'shared/bread-crumbs'
  = render 'shared/footer'
