.default-container 
  = render  'shared/header'
  %section.product-box-container.large-single-container
    %h1.product-name
      = @product.product_name
    .product-main-content.clearfix
      .product-photo
        .eagle-carousel.eagle-loaded.eagle-drag
          .eagle-stage-outer
            .eagle-stage{ "style": "#{'left: 0px width: 900px'}" }  
              .eagle-product.active{ "style": "#{'width: 300px'}" } 
                .eagle-product-inner.is-higher-height
                  = image_tag "#{@product.images.first[:image]}", class: 'eagle-lazy',width: "300" ,hight: "300"
          .eagle-dots
            - @product.images.each do |thumbnail|
              .eagle-dot
                .eagle-dot-inner
                  = image_tag "#{thumbnail.image}", class: 'eagle-lazy',width: "60" ,hight: "60"
      %table.product-detail-table
        %tbody
          %tr
            %th 出品者
            %td
              = link_to "#{@product.user.nickname}","/"
              %div
                .product-user-ratings
                  %i.icon-good.icon-size
                    %i.far.fa-smile-wink
                  %span ??
                .product-user-ratings
                  %i.icon-normal.icon-size
                    %i.far.fa-meh
                  %span ??
                .product-user-ratings
                  %i.icon-bad.icon-size
                    %i.far.fa-frown-open 
                  %span ??
          %tr
            %th カテゴリー
            %td
              %div
              = link_to "未実装","/"
              %div
              = link_to "> 未実装","/"
              %div
              = link_to "> 未実装","/"
          %tr
            %th ブランド
            %td 
              = link_to "未実装","/"
          %tr
            %th 商品の状態
            %td 
              = @product.condition
          %tr
            %th 配送料の負担
            %td 
              = @product.delivery_charge
          %tr
            %th 配送の方法
            %td 
              = @product.delivery_way
          %tr
            %th 配送元地域
            %td 
              = link_to "??????","/"
          %tr
            %th 発送日の目安
            %td
              = @product.delivery_date
    .product-price-box.text-center
      %span.product-price.bold
        = "¥#{@product.price.to_s(:delimited)}"
      %span.product-tax
        (税込)
      %span.product-shipping-fee
        送料込み
      - if user_signed_in?
        - unless current_user.id == @product.user_id
          = link_to "購入画面に進む",  destroy_user_session_path,class: "product-buy-btn", method: :delete
      - else 
        = link_to "購入画面に進む",  destroy_user_session_path,class: "product-buy-btn", method: :delete
    -# %a.product-btn-client
    -#   %div{"data-client": "#{'visible'}"}
    -#     購入画面に進む
    -#     =link_to "購入画面に進む", myprofile_path(@product.id)
      -# .product-action-text{"data-toggle": "#{'open-app'}","data-url-scheme": "#{'mercari://'}","data-action": "#{'product/openDetail'}",'data-key': "#{'id=aaaaaaaa'}","data-paly-id": "#{"com.kouzoh.mercari"}","data-adjust-url": "http://app.adjust.io/xio2ii?campaign=iOS&adgroup=items.buy_button1aaaaaa"}
      -#   アプリで購入　　←※スマホ用
    .product-description.f14
      = simple_format "#{@product.description}", class:'product-description-inner'
    .product-button-container.clearfix
      .product-button-left
        %button.product-button.product-button-like{"name": "like!","data-toggle": "like","data-id": "#{"xxxxxxxx"}","data-ga":"#{"element"}","dara-ga-category": "#{'LIKE'}"}
          %i.icon-like-border
            = image_tag "sample_heart.png",width: "15" ,hight: "15"
            %span
              良いね！
            %span.fade-in-down{"data-num":"#{"like"}"}
              0
        %button.product-button.product-button-report.clearfix{"data-modal":"#{"report-product"}","data-open":"#{"modal"}"}
          %i.icon-flag
            = image_tag "sample_flag.png",width: "15" ,hight: "15"
            %span
              不適切な商品の報告
      .product-button-right
        %i.icon-lock
          あんしん・あんぜんへの取り込み
  .product-detail-message
    .message-container
      .message-content
        = form_for "",html: { class: "message-form" },local: true do |f|
          %p
            相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          = f.text_area :message, class: 'textarea-default'
          = f.submit "コメントする", {class: "message-submit btn-default btn-gray"} 
  %ul.navigation-product-link-prev-next.clearfix
    %li.navigation-product-link-prev
      %a
        %i.icon-arrow-left
          - if @previous.present?
            = link_to product_path(@previous) do
              <
              = @previous.product_name
    %li.navigation-product-link-next
      %a
        %i.icon-arrow-left
          - if @next.present?
            = link_to product_path(@next) do
              = @next.product_name
              >
  .product-social-media-box
    .text-center
      .fb-save.fb_iframe_widget{"data-uri":"#{""}","fb-xfbml-state":"#{""}","fb-iframe-plugin-query":"#{""}"}
    %ul.social-media-box
      %li
        %a
          = image_tag "fb_b.png",width: "44" ,hight: "44"
      %li
        %a
          = image_tag "tw_b.png",width: "44" ,hight: "44"
      %li
        %a
          = image_tag "pin_r.jpg",width: "44" ,hight: "44"
  .products-in-user-profile
    %section.products-box-container.clearfix.related-product-column.products-in-user-profile
      %h2.products-box-head
        %a
          = "#{@product_user.nickname}"+"さんのその他の出品"
      .products-box-content.clearfix
      - @product_user.products.last(6).each.with_index do |pro,i|
        %section.products-box{"class":"products-id#{i+1}"}
          = link_to product_path(pro) do
            %figure.products-box-photo
              = image_tag "#{pro.images.first.image}",width: "220" ,hight: "220"
            .products-box-body
              %h3.products-box-name.font-2
                = pro.product_name
              .products-box-num
                .products-box-price.font-5
                  = "¥#{pro.price}"
                .font-2
                  %i.icon-like-border
                    %i.far.fa-heart
                    %span
                    = "#{"1"}"
    %section.products-box-container.clearfix.related-product-column
      %h2.products-box-head
        %a
          = "#{@product_user.nickname}"+"のその他の出品"
      .products-box-content.clearfix
      - @product_user.products.last(6).each.with_index do |pro,i|
        %section.products-box{"class":"products-id#{i+1}"}
          = link_to product_path(pro) do
            %figure.products-box-photo
              = image_tag "#{pro.images.first.image}",width: "220" ,hight: "220"
            .products-box-body
              %h3.products-box-name.font-2
                = pro.product_name
              .products-box-num
                .products-box-price.font-5
                  = "¥#{pro.price}"
                .font-2
                  %i.icon-like-border
                    %i.far.fa-heart
                    %span
                    = "#{"1"}"
  = render 'shared/bread-crumbs'
  = render  'shared/footer'
